/* we kept on running into an issue where there would be a horizontal scrollbar, which, for this device, is just
totally unnecessary. to get round this, see the html and body styles - this sets the width and height to 100% of
the viewport (strictly speaking, you should use vw and vh, but % works better) and box-sizing makes sure that
any padding or border sizes are included in said 100%, rather than excluded, which leads to a horizontal scrollbar.
the margin property (margin: 0px auto;) of body can also help to get rid of the scrollbar. */

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'ABeeZee', sans-serif;
    padding: 20px;
    background-color: #FAF9F6;
    max-width: 100%;
    height: auto;
}

.header-grid-container {
    display: flex;
    max-height: 100%;
    align-items: center;
}

.header-grid-item {
    margin: 10px;
}

/* flexbox is appropriate for the recipe stuff as all the items can be thought of as being on the same line, unlike
the header, where items are on different lines. */
.recipe-flexbox-container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.recipe-flexbox-item {
    width: 50%;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDF1D8;
}